<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title>Doctor Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-spinner *ngIf="loading" name="crescent" color="primary" class="loading-spinner"></ion-spinner>

  <ion-card *ngIf="!loading && doctor">
    <ion-card-header>
      <ion-avatar class="large-avatar">
        <img [src]="doctor.image || (doctor.gender === 'Male' ? 'assets/default-male.png' : (doctor.gender === 'Female' ? 'assets/default-female.png' : 'assets/default-doctor.png'))" alt="Doctor Image">
      </ion-avatar>
      <ion-card-title>{{ doctor.name }}</ion-card-title>
      <ion-card-subtitle>{{ doctor.specialty }} - {{ doctor.city }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="medkit-outline" slot="start" class="theme-icon"></ion-icon>
          <ion-label>Specialty: {{ doctor.specialty }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline" slot="start" class="theme-icon"></ion-icon>
          <ion-label>City: {{ doctor.city }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" slot="start" class="theme-icon"></ion-icon>
          <ion-label>Gender: {{ doctor.gender || 'Not specified' }}</ion-label>
        </ion-item>
        <!-- Favorite Button -->
        <ion-item button (click)="toggleFavorite()">
          <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'" slot="start" class="theme-icon"></ion-icon>
          <ion-label>{{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!loading && !doctor">
    <ion-card-content>
      <p class="ion-text-center">Doctor not found</p>
    </ion-card-content>
  </ion-card>
</ion-content>