<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading" name="crescent" color="primary" class="loading-spinner"></ion-spinner>
  <ion-card *ngIf="!loading">
    <ion-card-header>
      <ion-card-title>{{ user.first_name }} {{ user.last_name }}</ion-card-title>
      <ion-card-subtitle>Your Profile</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Email: {{ user.email }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>